* {
  color: #444;
}

button {
  outline: none;
  border: none;
}

#joy-con button {
  background-color: #222;
}

#joy-con button:hover {
  background-color: #444;
}
#joy-con button:active {
  background-color: #ffeb3b;
}

.circle-button {
  border-radius: 100px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actions {
  margin-top: 16px;
  margin-bottom: 128px;
  text-align: right;
}

#rotate-button:hover {
  opacity: 0.7;
}

#joy-con {
  position: relative;
  width: 400px;
  height: 194px;
  margin-bottom: 128px;
}

#joy-con-strap-buttons {
  height: 10px;
  position: relative;
}

#joy-con-strap-buttons button {
  width: 56px;
  height: 10px;
  position: absolute;
}

#sl {
  left: 82px;
}

#sr {
  left: 244px;
}

#joy-con-strap-body {
  width: 400px;
  height: 56px;
  background: #222;
  border-radius: 48px 48px 0 0;
}

#joy-con-body {
  width: 400px;
  height: 128px;
  background: #35baf6;
  border-radius: 0 0 76px 76px;
  position: relative;
  z-index: 100;
}

#joy-con-body button {
  position: absolute;
}

#stick-wrapper {
  width: 64px;
  height: 64px;
  top: 28px;
  left: 76px;
  position: relative;
}

#stick {
  width: 64px;
  height: 64px;
}

#stick-wrapper div {
  position: absolute;
  background: #666;
}

#stick-up {
  width: 4px;
  height: 2px;
  top: 32px;
  left: 2px;
}

#stick-down {
  width: 4px;
  height: 2px;
  top: 32px;
  right: 2px;
}

#stick-right {
  width: 2px;
  height: 4px;
  top: 2px;
  left: 32px;
}

#stick-left {
  width: 2px;
  height: 4px;
  bottom: 2px;
  left: 32px;
}

#up {
  width: 32px;
  height: 32px;
  top: 44px;
  left: 172px;
}

#left {
  width: 32px;
  height: 32px;
  top: 76px;
  left: 202px;
}

#right {
  width: 32px;
  height: 32px;
  top: 12px;
  left: 202px;
}

#down {
  width: 32px;
  height: 32px;
  top: 44px;
  left: 232px;
}

#capture {
  width: 24px;
  height: 24px;
  top: 26px;
  left: 280px;
  border-radius: 2px;
}

#minus {
  width: 8px !important;
  height: 22px;
  top: 10px;
  left: 44px;
  border-radius: 1px;
}

#l {
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: 80px;
  height: 110px;
  border-radius: 4px 0 4px 80px;
  z-index: 0;
}

#zl {
  position: absolute;
  bottom: 66px;
  left: 0px;
  width: 8px;
  height: 40px;
  border-radius: 4px;
  z-index: 1000;
  background: #ffeb3b;
  opacity: 0;
}

.form-content {
  display: flex;
  gap: 32px;
  position: relative;
}

.field {
  margin-bottom: 8px;
}

.field label {
  display: inline-block;
  min-width: 76px;
  font-weight: bold;
}

.field input {
  width: 64px;
}

#submit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #35baf6;
  width: 80px;
  height: 32px;
  border-radius: 4px;
}
